h1 {
    color: green;
    font-style: italic;
  }

  li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
  }
  .error {
    padding: 10px;
    border: 2px solid red;
    color: red;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .success {
    padding: 10px;
    border: 2px solid green;
    color: green;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
  }